* {
    margin-top: 5px;
    background: #202421;
    color: white;
    font-family: Helvetica;
}

  .progress-container {
    height: 0.8rem;
    width: 99%;
    border-radius: 0.4rem;
    background: #202421;
  }
  
  .progress-container .progress {
    height: 100%;
    width: 0;
    border-radius: 0.4rem;
    background: #ff4754;
    transition: width 0.4s ease;
  }
  
h1 {
    margin: 10px;
}

button {
    border: 2px solid gray;
    padding: 6px;
    margin: 4px;
    cursor: pointer;
}

button:hover {
    background: gray;
    color: black;
    transition: 0.2s ease-in-out;
}

button:active {
  transform: translateY(2px);
  transition: none;
}

div{
  margin: 10px;
}

#popupdiv{
  margin: auto;
  position: absolute;
  left: 30%;
  width: auto;
  border: 2px solid rgb(105, 12, 16);
  background-color: rgb(37, 37, 43);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

#popuptext{
  background-color: rgb(37, 37, 43);
}

#donatetext{
  float: left;
  padding-right: 10px;
  padding-top: 20px;
}

#donatebutton{
  padding-top: 15px;
}

#languagediv{
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

#languagediv button:hover{
  background: gray;
  color: black;
  transition: all 0.2s ease-in-out;
}

#stonethingsdiv button:hover{
  background: gray;
  color: black;
  transition: 0.2s ease-in-out;
}

#stonethingsdiv button:active{
  transform: translateY(2px);
  transition: none;
}

#defaultOpen{
  background: url(home64.png);
  height: 64px;
  width: 64px;
  margin-right: 15px;
}

#stone{
  padding-top: 10px;
}

#woodbuttons{
  padding-top: 10px;
}

#iconcredit{
  position: absolute;
  bottom: 20px;
  
}

#woodicondiv{
  height: 37px;
  width: 37px;
  float:left;  display:inline;
}

#woodicon{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#stoneicondiv{
    height:37px;
    width: 37px;
    float:left; display:inline;
}

#stoneicon{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#shoptab{
  background: url(shop64.png);
  height: 64px;
  width: 64px;
  margin-right: 15px;
}

#prestigetab{
  background: url(prestige64.png);
  height: 64px;
  width: 64px;
  margin-right: 15px;
}

#settingstab{
  background: url(settings64.png);
  height: 64px;
  width: 64px;
  margin-right: 15px;
}

#divseparator{
  width: auto;
  padding:1px 1px;
}

.wood {
    color:rgb(216, 191, 48);
}

.blue {
    color: rgb(59, 124, 245);
}

#moneyifprestigetext{
  margin: auto;
  text-align: center;
  display:inline;
}

#moneyicon{
  margin: auto;
  text-align: center;
  display:inline;
}

#moneyifprestigetext2{
  margin: auto;
  text-align: center;
  display:inline;
}

.tablink {
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: auto;
}

.tabcontent {
  color: white;
  display: none;
  padding: 60px 10px;
  height: 100%;
}

.savegameint {
  position: absolute;
  bottom: 10px;
  width: 50%;
}

#prestigediv{
  margin: auto;
  text-align: center;
}

#money{
  color:rgb(216, 191, 48);
}

#stone{
  color:rgb(113, 147, 148);
}

#pickaxebutton{
  color:rgb(113, 147, 148);
}

#autostone{
  color:coral;
}

#uppickaxe{
  color:rgb(113, 147, 148);
}

#pickaxepowerbutton{
  color:rgb(113, 147, 148);
}
#upclickpowermultiplier{
  color:rgb(216, 191, 48);
}

#upautochoppermultiplier{
  color: rgb(59, 124, 245);
}

#upclickpowermultiplier1{
  color:rgb(216, 191, 48);
}

#uppickaxepowermultiplier{
  color:rgb(113, 147, 148);
}

#pickaxepowerstat{
  color:rgb(113, 147, 148);
}

#autostonecollectorstat{
  color:coral;
}

#upautostonemultiplier{
  color:coral;
}

#upautochopperdivide{
  color:rgb(216, 191, 48);
}

#moneytext{
  float:left;
  margin-right: 5px;
}
